@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");@font-face{font-family:'TATAAIAPrint-Bold';src:url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint-Bold.eot?#iefix") format("embedded-opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint-Bold.woff") format("woff"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint-Bold.ttf") format("truetype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint-Bold.svg#TATAAIAPrint-Bold") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'helveticaregular';src:url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/helvetica-webfont.woff2") format("woff2"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/helvetica-webfont.woff") format("woff"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/helvetica-webfont.ttf") format("truetype");font-weight:normal;font-style:normal}
@font-face{font-family:'TATAAIAPrint';src:url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint.eot?#iefix") format("embedded-opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint.woff") format("woff"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint.ttf") format("truetype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/TATAAIAPrint.svg#TATAAIAPrint") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd-Bd';src:url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Bd.otf") format("opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Bd.woff") format("woff"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd-Lt';src:url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Lt.eot?#iefix") format("embedded-opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Lt.otf") format("opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Lt.woff") format("woff"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Lt.ttf") format("truetype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'HelveticaNeueLTStd-Md';src:url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Md.otf") format("opentype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Md.woff") format("woff"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"),url("../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");font-weight:normal;font-style:normal}
@font-face{font-family:'icomoon';src:url('../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/icomoon.eot?orptfs');src:url('../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/icomoon.eot?orptfs#iefix') format('embedded-opentype'),url('../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/icomoon.ttf?orptfs') format('truetype'),url('../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/icomoon.woff?orptfs') format('woff'),url('../../../content/tataaialifeinsurancecompanylimited/en/resources/fonts/icomoon.svg?orptfs#icomoon') format('svg');font-weight:normal;font-style:normal;font-display:block}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon' !important;speak:never;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-awards:before{content:"\e900"}
.icon-claim-settlement-ratio .path1:before{content:"\e901";color:#4196d2}
.icon-claim-settlement-ratio .path2:before{content:"\e902";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path3:before{content:"\e903";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path4:before{content:"\e904";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path5:before{content:"\e905";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path6:before{content:"\e906";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path7:before{content:"\e907";margin-left:-1em;color:#ea9aa6}
.icon-claim-settlement-ratio .path8:before{content:"\e908";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path9:before{content:"\e909";margin-left:-1em;color:#4196d2}
.icon-claim-settlement-ratio .path10:before{content:"\e90a";margin-left:-1em;color:#ea9aa6}
.icon-claim-settlement-ratio .path11:before{content:"\e90b";margin-left:-1em;color:#ea9aa6}
.icon-claim-settlement-ratio .path12:before{content:"\e90c";margin-left:-1em;color:#4196d2}
.icon-crorepati:before{content:"\e90d";color:#4197d3}
.icon-download-statement:before{content:"\e90e";color:#4197d3}
.icon-families-protected:before{content:"\e90f";color:#4197d3}
.icon-happy-retired-life:before{content:"\e910";color:#4197d3}
.icon-kid-dreams .path1:before{content:"\e911";color:#4197d3}
.icon-kid-dreams .path2:before{content:"\e912";margin-left:-1em;color:#eb9aa7}
.icon-kid-dreams .path3:before{content:"\e913";margin-left:-1em;color:#eb9aa7}
.icon-menu:before{content:"\e914"}
.icon-most-trusted-brand .path1:before{content:"\e915";color:#4196d2}
.icon-most-trusted-brand .path2:before{content:"\e916";margin-left:-1em;color:#4196d2}
.icon-most-trusted-brand .path3:before{content:"\e917";margin-left:-1em;color:#ea9aa6}
.icon-own-dreams .path1:before{content:"\e918";color:#4196d2}
.icon-own-dreams .path2:before{content:"\e919";margin-left:-1em;color:#ea9aa6}
.icon-own-dreams .path3:before{content:"\e91a";margin-left:-1em;color:#ea9aa6}
.icon-own-dreams .path4:before{content:"\e91b";margin-left:-1em;color:#ea9aa6}
.icon-pay-remium:before{content:"\e91c";color:#4197d3}
.icon-quick-action .path1:before{content:"\e91d";color:#000}
.icon-quick-action .path2:before{content:"\e91e";margin-left:-1em;color:#d62049}
.icon-quick-action .path3:before{content:"\e91f";margin-left:-1em;color:#fff}
.icon-raise-service-request:before{content:"\e920";color:#4197d3}
.icon-register-claim:before{content:"\e921";color:#4197d3}
.icon-sales-services-online .path1:before{content:"\e922";color:#4197d3}
.icon-sales-services-online .path2:before{content:"\e923";margin-left:-1.025390625em;color:#eb9aa7}
.icon-sales-services-online .path3:before{content:"\e924";margin-left:-1.025390625em;color:#4197d3}
.icon-sales-services-online .path4:before{content:"\e925";margin-left:-1.025390625em;color:#eb9aa7}
.icon-sales-services-online .path5:before{content:"\e926";margin-left:-1.025390625em;color:#eb9aa7}
.icon-sales-services-online .path6:before{content:"\e927";margin-left:-1.025390625em;color:#eb9aa7}
.icon-sales-services-online .path7:before{content:"\e928";margin-left:-1.025390625em;color:#eb9aa7}
.icon-sales-services-online .path8:before{content:"\e929";margin-left:-1.025390625em;color:#eb9aa7}
.icon-sales-services-online .path9:before{content:"\e92a";margin-left:-1.025390625em;color:#4197d3}
.icon-sales-services-online .path10:before{content:"\e92b";margin-left:-1.025390625em;color:#4197d3}
.icon-sales-services-online .path11:before{content:"\e92c";margin-left:-1.025390625em;color:#4197d3}
.icon-saplings:before{content:"\e92d";color:#4197d3}
.icon-save-tax:before{content:"\e92e";color:#4197d3}
.icon-search:before{content:"\e92f"}
.icon-secure-future .path1:before{content:"\e930";color:#4196d2}
.icon-secure-future .path2:before{content:"\e931";margin-left:-1em;color:#4196d2}
.icon-secure-future .path3:before{content:"\e932";margin-left:-1em;color:none}
.icon-secure-future .path4:before{content:"\e933";margin-left:-1em;color:#ea9aa6}
.icon-secure-future .path5:before{content:"\e934";margin-left:-1em;color:#ea9aa6}
.icon-settle-claims .path1:before{content:"\e935";color:#4197d3}
.icon-settle-claims .path2:before{content:"\e936";margin-left:-1.025390625em;color:#4197d3}
.icon-settle-claims .path3:before{content:"\e937";margin-left:-1.025390625em;color:#4197d3}
.icon-settle-claims .path4:before{content:"\e938";margin-left:-1.025390625em;color:#eb9aa7}
.icon-track-claim:before{content:"\e939";color:#4197d3}
.icon-user:before{content:"\e93a"}
@charset 'UTF-8';.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:0;outline:0;background:transparent}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:0;background:transparent}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}
.slick-prev:before,.slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-prev{left:-25px}
[dir='rtl'] .slick-prev{right:-25px;left:auto}
.slick-prev:before{content:'←'}
[dir='rtl'] .slick-prev:before{content:'→'}
.slick-next{right:-25px}
[dir='rtl'] .slick-next{right:auto;left:-25px}
.slick-next:before{content:'→'}
[dir='rtl'] .slick-next:before{content:'←'}
.slick-dotted.slick-slider{margin-bottom:30px}
.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}
.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:transparent}
.slick-dots li button:hover,.slick-dots li button:focus{outline:0}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1}
.slick-dots li button:before{font-family:'slick';font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.slick-dots li.slick-active button:before{opacity:.75;color:black}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle}
.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none}
.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.select2-container .select2-selection--single .select2-selection__clear{position:relative}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:8px;padding-left:20px}
.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none}
.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap}
.select2-container .select2-search--inline{float:left}
.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:0;font-size:100%;margin-top:5px;padding:0}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}
.select2-dropdown{background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051}
.select2-results{display:block}
.select2-results__options{list-style:none;margin:0;padding:0}
.select2-results__option{padding:6px;user-select:none;-webkit-user-select:none}
.select2-results__option[aria-selected]{cursor:pointer}
.select2-container--open .select2-dropdown{left:0}
.select2-container--open .select2-dropdown--above{border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0}
.select2-container--open .select2-dropdown--below{border-top:0;border-top-left-radius:0;border-top-right-radius:0}
.select2-search--dropdown{display:block;padding:4px}
.select2-search--dropdown .select2-search__field{padding:4px;width:100%;box-sizing:border-box}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}
.select2-search--dropdown.select2-search--hide{display:none}
.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0)}
.select2-hidden-accessible{border:0 !important;clip:rect(0 0 0 0) !important;-webkit-clip-path:inset(50%) !important;clip-path:inset(50%) !important;height:1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important;white-space:nowrap !important}
.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}
.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold}
.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#999}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px}
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto}
.select2-container--default.select2-container--disabled .select2-selection--single{background-color:#eee;cursor:default}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear{display:none}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{list-style:none}
.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-top:5px;margin-right:10px;padding:1px}
.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline{float:right}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}
.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0}
.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0}
.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #aaa}
.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:0;outline:0;box-shadow:none;-webkit-appearance:textfield}
.select2-container--default .select2-results>.select2-results__options{max-height:300px;overflow-y:auto}
.select2-container--default .select2-results__option[role=group]{padding:0}
.select2-container--default .select2-results__option[aria-disabled=true]{color:#999}
.select2-container--default .select2-results__option[aria-selected=true]{background-color:#ddd}
.select2-container--default .select2-results__option .select2-results__option{padding-left:1em}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#5897fb;color:white}
.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px}
.select2-container--classic .select2-selection--single{background-color:#f7f7f7;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top,#fff 50%,#eee 100%);background-image:-o-linear-gradient(top,#fff 50%,#eee 100%);background-image:linear-gradient(to bottom,#fff 50%,#eee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFEEEEEE',GradientType=0)}
.select2-container--classic .select2-selection--single:focus{border:1px solid #5897fb}
.select2-container--classic .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}
.select2-container--classic .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-right:10px}
.select2-container--classic .select2-selection--single .select2-selection__placeholder{color:#999}
.select2-container--classic .select2-selection--single .select2-selection__arrow{background-color:#ddd;border:0;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top,#eee 50%,#ccc 100%);background-image:-o-linear-gradient(top,#eee 50%,#ccc 100%);background-image:linear-gradient(to bottom,#eee 50%,#ccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE',endColorstr='#FFCCCCCC',GradientType=0)}
.select2-container--classic .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow{border:0;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto}
.select2-container--classic.select2-container--open .select2-selection--single{border:1px solid #5897fb}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow{background:transparent;border:0}
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single{border-top:0;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top,#fff 0,#eee 50%);background-image:-o-linear-gradient(top,#fff 0,#eee 50%);background-image:linear-gradient(to bottom,#fff 0,#eee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFEEEEEE',GradientType=0)}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top,#eee 50%,#fff 100%);background-image:-o-linear-gradient(top,#eee 50%,#fff 100%);background-image:linear-gradient(to bottom,#eee 50%,#fff 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE',endColorstr='#FFFFFFFF',GradientType=0)}
.select2-container--classic .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0}
.select2-container--classic .select2-selection--multiple:focus{border:1px solid #5897fb}
.select2-container--classic .select2-selection--multiple .select2-selection__rendered{list-style:none;margin:0;padding:0 5px}
.select2-container--classic .select2-selection--multiple .select2-selection__clear{display:none}
.select2-container--classic .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{color:#888;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover{color:#555}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{float:right;margin-left:5px;margin-right:auto}
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}
.select2-container--classic.select2-container--open .select2-selection--multiple{border:1px solid #5897fb}
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple{border-top:0;border-top-left-radius:0;border-top-right-radius:0}
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom:0;border-bottom-left-radius:0;border-bottom-right-radius:0}
.select2-container--classic .select2-search--dropdown .select2-search__field{border:1px solid #aaa;outline:0}
.select2-container--classic .select2-search--inline .select2-search__field{outline:0;box-shadow:none}
.select2-container--classic .select2-dropdown{background-color:#fff;border:1px solid transparent}
.select2-container--classic .select2-dropdown--above{border-bottom:0}
.select2-container--classic .select2-dropdown--below{border-top:0}
.select2-container--classic .select2-results>.select2-results__options{max-height:300px;overflow-y:auto}
.select2-container--classic .select2-results__option[role=group]{padding:0}
.select2-container--classic .select2-results__option[aria-disabled=true]{color:grey}
.select2-container--classic .select2-results__option--highlighted[aria-selected]{background-color:#3875d7;color:#fff}
.select2-container--classic .select2-results__group{cursor:default;display:block;padding:6px}
.select2-container--classic.select2-container--open .select2-dropdown{border-color:#5897fb}
.select2-results{max-height:330px;overflow:auto}
.select2-results ul{max-height:330px}
@media screen and (max-width:767.99px){.select2-container--flat .select2-selection--single .select2-selection__rendered{line-height:50px}
}
.ta-cs-easyclaim-sct{margin-top:70px;margin-bottom:70px}
.ta-cs-formwrap{margin-top:60px}
.ta-cs-formwrap .ta-label{font-family:"HelveticaNeueLTStd-Lt"}
.ta-error-txt{font-family:Helvetica;font-size:16px;font-weight:300;font-stretch:normal;font-style:oblique;line-height:normal;letter-spacing:normal;color:#d62049;padding-top:11px;display:none}
label.fixed-label{border:0;position:absolute;top:34px;width:40px}
.fixed-lable-padding{padding-left:57px}
.btn-slct{color:#fff}
.ta-overlay.active{visibility:visible;opacity:1}
.ta-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:99;visibility:hidden;opacity:0;transition:opacity .1s linear}
@media screen and (max-width:767px){.ta-cs-easyclaim-sct .btn{padding:10px 13px}
.ta-cs-easyclaim-sct{margin-top:27px;margin-bottom:27px}
.ta-cs-formwrap{margin-top:40px}
.ta-error-txt{font-size:12px}
.fixed-lable-padding{padding-left:40px}
label.fixed-label{top:26px;width:30px}
}
.popup-btn{text-align:center;margin:50px 0}
.pop-md{width:500px;height:auto;display:table}
.pop-lg{width:730px;height:auto;display:table}
.ta-popup-maindiv{border-radius:15px;box-shadow:3px 6px 14px 0 rgba(0,115,187,0.1);background-color:#fff;padding:30px;position:fixed;left:0;bottom:0;background:#fff;z-index:100;transform:translateY(120%)}
.ta-popup-maindiv.active{transform:translate(-50%,-50%);top:50%;left:50%}
.ta-popup-maindiv h2{font-size:36px;font-family:"Inter",sans-serif;line-height:1;font-weight:800;line-height:1;letter-spacing:-0.4px;margin-bottom:14px;color:#333}
.ta-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:99;visibility:hidden;opacity:0;transition:opacity .1s linear}
.ta-overlay.active{visibility:visible;opacity:1}
.ta-popup-maindiv .ta-sub-text{line-height:1.67;font-weight:normal}
.ta-popup-maindiv .ta-sub-text b{font-weight:bold}
.ta-popup-maindiv .otp-number-div .ta-sub-text{line-height:1.11;text-align:center;margin-bottom:0}
.otp-no-wrap{display:flex;justify-content:center;margin-bottom:16px}
.otp-num{font-size:24px;font-family:"HelveticaNeueLTStd-Md",sans-serif;line-height:normal;letter-spacing:normal;font-weight:normal;padding:20px;border-bottom:1px solid #e6e7e8}
.otp-num:not(:last-child){margin-right:20px}
.ta-popup-maindiv .reg-form-btn{margin-top:50px}
.ta-modal-wrap{position:relative}
.ta-modal-wrap .modal-close-btn{position:absolute;top:-30px;right:0}
.ta-modal-wrap .modal-close-btn img{width:18px}
.ta-close-btn{display:inline-flex;padding:0;background:0;cursor:pointer}
.ta-close-btn img{width:100%;height:100%}
.cross{background-color:rgba(0,0,0,0.6);padding:5px;border-radius:5px}
.ta-sub-text{font-size:18px;font-family:HelveticaNeueLTStd-Lt;line-height:.78;font-weight:700;letter-spacing:normal;color:#373737;margin-bottom:19px}
.ta-btn-div{margin-bottom:32px}
.reg-form-btn .primary-btn{background-color:#fff;border:1px solid #d62049;color:#d62049;margin-right:31px;font-size:24px;font-family:HelveticaNeueLTStd-Md,sans-serif;line-height:normal;letter-spacing:-1px}
.reg-form-btn .btn-slct{box-shadow:0 0 10px 0 rgba(214,32,73,.1);background-color:#d62049;color:#fff}
.ta-popup-maindiv{width:488px;height:462px;border-radius:15px;box-shadow:3px 6px 14px 0 rgba(0,115,187,.1);background-color:#fff;padding:40px 30px;position:fixed;left:0;bottom:0;background:#fff;z-index:100;transform:translateY(120%)}
.ta-popup-maindiv h2{font-size:36px;font-family:Inter,sans-serif;line-height:1;font-weight:800;line-height:1;letter-spacing:-.4px;margin-bottom:14px;color:#333}
.ta-popup-maindiv .ta-sub-text{line-height:1.67;font-weight:400}
.ta-popup-maindiv .ta-sub-text b{font-weight:700}
.ta-popup-maindiv .reg-form-btn{margin-top:50px}
.ta-modal-wrap{position:relative}
.ta-modal-wrap .modal-close-btn{position:absolute;top:-40px;right:0}
.ta-close-btn{display:inline-flex;padding:0;background:0;cursor:pointer}
.ta-close-btn img{width:100%;height:100%}
.ta-modal-wrap .modal-close-btn img{width:100%}
.popup-title-wrap{display:flex;align-items:center;margin-bottom:28px}
.popup-title-wrap h2{margin-bottom:0}
.failed-icon{margin-right:29px}
.ta-popup-maindiv .ta-email-text{font-weight:300;font-family:HelveticaNeueLTStd-Lt}
.ta-emial-updation-fail-maindiv{width:558px;height:360px}
.ta-emial-updation-fail-maindiv .reg-form-btn{margin-top:30px;text-align:center}
.ta-emial-updation-success-maindiv{height:390px}
.pan-success-div{display:flex;justify-content:center;align-items:center;margin:39px 0 30px;padding:19px;border-radius:8px;background-color:#f4f8f3}
.pan-success-div img{margin-right:10px}
.pan-success-text{font-size:20px;font-family:Helvetica;line-height:normal;font-weight:700;letter-spacing:normal;color:#81b774}
.ta-pan-updation-fail-maindiv{height:472px}
.pan-img-wrap img:not(:last-child){margin-right:25px}
.ta-form-wrap .primary-btn{width:189px;height:50px;padding:0}
.ta-form-wrap .primary-btn:last-child{margin:0}
.ta-email-text{font-family:Helvetica;font-size:18px;line-height:1.67;letter-spacing:normal}
.ta-updation-wrap .reg-form-btn{margin-top:30px}
.pop-md .reg-form-btn button{width:190px;height:50px;padding:0}
@media screen and (max-width:767.99px){.ta-email-text{font-size:14px;line-height:1.71 !important;letter-spacing:normal}
.pop-md .ta-close-btn img{width:14px;height:14px}
.pop-md .modal-close-btn{top:-30px}
.pop-md .reg-form-btn button{width:136px;height:40px;padding:0}
.ta-sub-text{font-size:14px;font-family:HelveticaNeueLTStd-Lt;line-height:1;margin-bottom:12px}
.ta-btn-div{margin-bottom:16px}
.reg-form-btn{display:flex;justify-content:center;margin-top:10px}
.reg-form-btn .primary-btn{padding:12px 20px;margin-right:20px;font-size:16px;font-family:HelveticaNeueLTStd-Md,sans-serif;line-height:normal;letter-spacing:-.67px}
.ta-popup-maindiv{width:320px;height:350px}
.ta-popup-maindiv h2{font-size:28px;font-family:Inter,sans-serif;line-height:normal;font-weight:800;letter-spacing:-.78px;margin-bottom:7px}
.ta-popup-maindiv .reg-form-btn{margin-top:40px}
.popup-title-wrap{margin-bottom:7px;flex-direction:column;align-items:start}
.popup-title-wrap h2{margin-bottom:0}
.failed-icon{height:50px;width:50px;margin-bottom:13px}
.ta-emial-updation-fail-maindiv{padding:25px;height:374px}
.ta-emial-updation-fail-maindiv .reg-form-btn{margin-top:30px}
.sucess-icon{height:50px;width:50px;margin-bottom:13px}
.pan-success-div{margin-top:25px;padding:8px;margin-bottom:19px}
.pan-success-div img{margin-right:6px;width:16px;height:16px}
.pan-success-text{font-size:12px;font-family:Helvetica;line-height:1.67;letter-spacing:-.33px}
.ta-pan-updation-fail-maindiv{height:436px}
.pan-img-wrap img:not(:last-child){margin-right:20px}
.pan-img-wrap img{width:30px;height:30px}
.ta-form-wrap .primary-btn{width:136px;height:40px;padding:0}
.ta-modal-wrap .modal-close-btn img{width:100%;height:100%}
.nav-popular{top:-22px;right:-199px}
}
.ta-btn,a{cursor:pointer !important}
.ta-input-w{position:relative;margin-bottom:50px}
.ta-input{width:100%;padding-bottom:10px;font-family:HelveticaNeueLTStd-Md;font-size:24px;line-height:24px;color:#333;border:0;border-bottom:solid 1px #e6e7e8;background:0}
.ta-input:focus{outline:0}
.ta-input::-moz-placeholder{color:#d4d7db}
.ta-input:-ms-input-placeholder{color:#d4d7db}
.ta-input::placeholder{color:#d4d7db}
.ta-error-msg{display:none;font-family:Helvetica;font-size:16px;font-weight:300;font-stretch:normal;font-style:oblique;line-height:normal;letter-spacing:normal;color:#d62049;padding-top:11px}
.ta-submit-btn{display:inline-block;padding:10px 30px;font-size:24px;letter-spacing:-1px;text-align:center;background:0;color:#d62049;border-radius:10px;font-family:HelveticaNeueLTStd-Md,sans-serif;border:1px solid #d62049;cursor:pointer}
.ta-col-1{flex:0 0 8.33%;max-width:8.33%}
.ta-col-2{flex:0 0 16.66%;max-width:16.66%}
.ta-col-2_4{flex:0 0 20%;max-width:20%}
.ta-col-3{flex:0 0 25%;max-width:25%}
.ta-col-4{flex:0 0 33.33%;max-width:33.33%}
.ta-col-5{flex:0 0 41.66%;max-width:41.66%}
.ta-col-5_6{flex:0 0 46.66%;max-width:46.66%}
.ta-col-6{flex:0 0 50%;max-width:50%}
.ta-col-7{flex:0 0 58.33%;max-width:58.33%}
.ta-col-8{flex:0 0 66.66%;max-width:66.66%}
.ta-col-9{flex:0 0 75%;max-width:75%}
.ta-col-10{flex:0 0 83.33%;max-width:83.33%}
.ta-col-11{flex:0 0 91.66;max-width:91.66%}
.ta-col-12{flex:0 0 100%;max-width:100%}
.ta-grid{display:flex;flex-wrap:wrap;margin:0 -10px}
.ta-grid [class^="ta-col"]{padding:0 10px}
.ta-grid.sp-80{margin:0 -40px}
.ta-grid.sp-80 [class^="ta-col"]{padding:0 40px}
.ta-grid.sp-50{margin:0 -25px}
.ta-grid.sp-50 [class^="ta-col"]{padding:0 25px}
html{scroll-behavior:smooth;height:100%}
body{line-height:1;font-size:18px;background:#fff;color:#58595b;font-family:helveticaregular;position:relative;overflow-x:hidden;padding-top:97px !important}
img{max-width:100%}
p{margin-bottom:.5rem}
a{text-decoration:none;color:#000;transition:.3s;-webkit-transition:.3s;-moz-transition:.3s}
.icon{font-size:32px}
.btn:focus,.btn:hover,a:focus,a:hover,button:focus{text-decoration:none;outline:0;box-shadow:none}
li,ul{padding:0;margin:0}
li{list-style:none}
b,body,details,div,footer,form,h1,h2,h3,h4,h5,h6,header,i,img,li,p,q,section,span,strong,sub,sup,table,tbody,td,th,time,tr,ul,var{margin:0;padding:0;border:0;outline:0;background:0;font-style:normal}
q{quotes:none}
q:after,q:before{content:"";content:none}
table{border-collapse:collapse;border-spacing:0}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:800;line-height:1.2;color:inherit}
.h1,h1{font-size:2.5rem}
.h2,h2{font-size:2rem}
.h3,h3{font-size:1.75rem}
.h4,h4{font-size:1.5rem}
.h5,h5{font-size:1.25rem}
.h6,h6{font-size:1rem}
.select2-container :focus{outline:0}
.primary-col{color:#d62049}
.svg-bg svg{position:absolute;z-index:2}
.svg-path-w{position:relative}
.svg-path-c{position:absolute;top:0;left:50%;transform:translateX(-50%)}
.primary-col{color:#d62049}
.white-col{color:#fff}
.primary-bg{background:#d62049}
.text-regular{font-family:400}
.text-bold{font-family:HelveticaNeueLTStd-Bd,sans-serif}
.head-font{font-family:Inter,sans-serif;font-weight:800}
.br-10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px}
.primary-btn:focus,.primary-btn:hover{background:#bc133d}
.container{max-width:1366px;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.page-container{padding:0 84px}
.align-content-start{align-content:flex-start !important}
.align-content-end{align-content:flex-end !important}
.align-content-center{align-content:center !important}
h1{color:#333;font-family:Inter,sans-serif;font-size:65px;line-height:65px;margin-bottom:0}
h2{color:#333;font-family:Inter,sans-serif;font-size:48px;line-height:48px;letter-spacing:-0.62px;margin-bottom:0}
h3{color:#333;font-family:Inter,sans-serif;font-size:42px;line-height:42px;letter-spacing:-1.28px;margin-bottom:0}
h4{color:#333;font-family:Inter,sans-serif;font-size:36px;line-height:36px;letter-spacing:-0.4px;margin-bottom:0}
h5{color:#333;font-family:Inter,sans-serif;font-size:32px;line-height:36px;letter-spacing:-1px;margin-bottom:0}
h6{color:#333;font-family:Inter,sans-serif;font-size:26px;line-height:26px;font-weight:800;letter-spacing:-1px;margin-bottom:0}
.section-title h2{font-family:Inter,sans-serif;color:#333;font-size:56px;line-height:.9;font-weight:800;letter-spacing:-0.62px}
button{outline:0;border:0}
.btn{padding:10px 35px;cursor:pointer;background:#d62049;font-size:24px;display:inline-block}
.btn :hover{color:#fff}
.text-center{text-align:center}
*,:after,:before{box-sizing:border-box}
.form-group{margin-bottom:24px;position:relative}
.form-group ::-moz-placeholder{color:#d3d4d5}
.form-group :-ms-input-placeholder{color:#d3d4d5}
.form-group ::placeholder{color:#d3d4d5}
.form-group .form-control{width:100%;padding:12px 0;border:0;border-bottom:1px solid #e6e7e8;color:#333;font-size:24px;font-family:HelveticaNeueLTStd-Md;transition:ease .8s;box-sizing:border-box;position:relative;z-index:2;background:0;transition:ease .8s}
.form-group .form-control:focus,.form-group .form-control:hover{border-color:#3f8abf;outline:0}
.form-group .err-class{position:absolute;white-space:nowrap;bottom:-10px;left:0;transform:translateY(100%);font-size:14px;color:#d62049;margin-top:11px;display:inline-block;font-style:oblique}
[data-src]{opacity:0;transition:all .4s ease}
[data-src].vis{opacity:1}
.ta-fq-ans-w table{border-width:2px 2px 2px 0}
.ta-fq-ans-w th{font-family:HelveticaNeueLTStd-Bd;font-size:20px;line-height:1.2;letter-spacing:normal;padding:10px 15px;height:60px;text-align:left}
.ta-fq-ans-w td{letter-spacing:normal;color:#373737;padding:15px;border:solid 1px #e6e7e8}
.ta-fq-ans-w tbody tr{border:solid 1px #e6e7e8}
.text p a{word-wrap:break-word}
.ta-fq-ans-m a{color:#0073bb;text-decoration:underline}
.ta-fq-ans-m a:hover{color:#0073bb;text-decoration:none}
.txt-right{text-align:right}
@media screen and (max-width:767px){.ta-fq-ans-w tbody tr{display:flex;max-width:320px;width:100%;margin-right:0 !important;overflow:hidden !important}
.ta-fq-ans-w td{display:flex;flex-direction:column;flex-direction:column;width:100%;align-items:center;justify-content:center;border:1px solid #edf4fa}
}
@media screen and (min-width:768px) and (max-width:900px){.ta-fq-ans-w tbody tr{max-width:610px;width:100%}
}
@media screen and (max-width:991.98px){.btn{font-size:14px !important}
}
@media screen and (max-width:991.98px){.btn{font-size:14px}
}
@media screen and (max-width:767.99px){body{padding-top:87px !important}
.pop-lg,.pop-md{width:90% !important}
.ta-input-w{margin-bottom:30px}
.ta-input{font-size:16px;line-height:16px;padding-bottom:10px}
.ta-error-msg{font-size:12px;padding-top:10px}
.ta-submit-btn{padding:10px;font-size:16px;letter-spacing:-0.67px}
[class^="ta-col"]{flex:0 0 100%;max-width:100%}
h1{font-size:36px;line-height:36px}
h2{font-size:30px;line-height:30px}
h3{font-size:28px;line-height:32px;letter-spacing:-0.78px}
h4{font-size:25px;line-height:24px}
h5{font-size:20px;line-height:26px;letter-spacing:normal}
h6{font-size:18px;line-height:20px;letter-spacing:normal}
}
@media screen and (max-width:767.98px){.page-container{padding:0 20px}
.sampoornarakshabanner .select2-container--flat .select2-selection--single{font-size:16px;height:30px}
.sampoornarakshabanner .selectBox::after{bottom:50px}
}
@media screen and (max-width:575.98px){.btn{font-size:16px}
.section-title h2{line-height:1;font-size:36px;letter-spacing:-1px}
.svg-path-w{margin:20px 0}
}
.ta-slick{margin-left:0;margin-right:0}
.ta-slick .slick-list{margin-left:-10px;padding-top:10px;padding-bottom:10px}
@media screen and (max-width:991.99px){.ta-slick .slick-list{margin-left:-8px}
}
.ta-fq-ans-m table,.table-responsive{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}